$primary-color: #FCEED5;
$secondary-color: #003459;
$tertiary-color: white;
$quaternary-color: #00A7E7;

$font-weight: bold;

$border-radius: 20px !default;

$margin: 10px 0 !default;

$width: 100% !default;

$font-family: "Roboto", sans-serif;

$breakpoint-mobile: 800px;