*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fceed5;
    width: 100%;
    padding: 50px;

    &--link{
        display: flex;
        flex-direction: row;

        &__item{
            margin: 20px;
        }
    }

    &__button{
        padding: 5px 15px;
        background-color: white;
        border-radius: 20px;

    }
}

.header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#fceed5, #fceed5, #ffe7ba);
    width: 100%;
    padding: 100px;

    &--gauche{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;

        &__title{
            font-size: 30px;
            margin: 10px 0;
        }

        &__subtitle{
            margin: 10px 0;
        }

        &__description{
            margin: 10px 0;
        }

        &--button{

            &__view{
                padding: 5px 15px;
                background-color: white;
                border-radius: 20px;
    
                i{
                    margin: 0 5px;
                }
            }

            &__explore{
                padding: 5px 15px;
                background-color: white;
                border-radius: 20px;
            }

        }

    }

    &--droite{
        &__img{
            width: 400px;
            height: 300px;
            margin: 0 100px;
        }
    }
}

.base{
    display: flex;
    flex-direction: column;
    margin: 0 150px;

    &--pets{
        display: flex;
        flex-direction: column;
        padding: 5px 15px;
        background-color: white;
        border-radius: 20px;
    
        &--textandbutton{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 40px 80px 0 80px;
    
            &__button{
                padding: 5px 15px;
                background-color: white;
                border-radius: 20px;
    
                i{
                    margin: 0 5px;
                }
            }
        }
    
        &--allPets{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            &--OnePet{
                flex-direction: column;
                border: 0;
                border-radius: 20px;
                padding: 10px;
                margin: 20px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
                &__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 250px;
                    height: 250px;
                    border-radius: 20px;
                }
    
                &--text{
                    padding: 5px;
    
                    &__title{
                        font-size: 15px;
                    }
    
                    &--description{
                        display: flex;
                        flex-direction: row;
    
                        &--type{
                            margin: 5px 0;
    
                            &__point{
                                font-weight: bold;
                                font-size: 20px;
                                margin: 0 10px  ;
                            }
                        }
                    }
    
                    &__prix{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    &--promo{
        display: flex;
        flex-direction: row;
        background-color: #FCEED5;
        border-radius: 20px;
        margin: 40px 80px;
        padding: 30px 30px 0 30px;

        &--gauche{
            &__img{
                width: 400px;
                height: 300px;
                margin: 0 100px;
            }
        }

        &--droite{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: end;
            margin-right: 50px;

            &__title{
                font-size: 30px;
                margin: 10px 0;
            }

            &__subtitle{
                margin: 10px 0;
            }

            &__description{
                margin: 10px 0;
            }

            &--button{

                &__view{
                    padding: 5px 15px;
                    background-color: white;
                    border-radius: 20px;
        
                    i{
                        margin: 0 5px;
                    }
                }

                &__explore{
                    padding: 5px 15px;
                    background-color: white;
                    border-radius: 20px;
                }

            }
        }

    }


    &--article{
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    
        &--textandbutton{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 80px;
    
            &__button{
                padding: 5px 15px;
                background-color: white;
                border-radius: 20px;
    
                i{
                    margin: 0 5px;
                }
            }
        }
    
        &--allPets{
            display: flex;
            flex-direction: row;
            margin: 0 50px;
    
            &--OnePet{
                flex-direction: column;
                border: 0;
                border-radius: 20px;
                padding: 10px;
                margin: 0 25px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
                &__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 350px;
                    height: 200px;
                    border-radius: 20px;
                }

                &__button{
                    margin: 15px 0 5px 0;
                    padding: 5px 15px;
                    background-color: #00A7E7;
                    border-radius: 20px;
                    border: 0;
                    color: white;
                }

                &__title{
                    margin: 5px 0;
                }

                &__description{
                    margin: 5px 0;
                }
            }
        }    
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCEED5;
    width: 100%;

    &--nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fceed5;
        width: 100%;

        &--link{
            display: flex;
            flex-direction: row;

            &__item{
            }
    }
    }



    &--society{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &--text{
            display: flex;
            flex-direction: row;
        }
    }
}